<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>codeandweb</key>
        <dict>
            <key>generator</key>
            <string>TexturePacker 3.7.1 - http://www.codeandweb.com/texturepacker</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c022056aeeca9a79494a21a2024752da:340cbee030e5ef72ba56a96aa301b77f:2326cba29f9bbb217559987e9c9b6ba2$</string>
        </dict>
        <key>format</key>
        <string>APPL</string>
        <key>images</key>
        <array>
            <dict>
                <key>path</key>
                <string>HedgehogAnim_Sheet.1@3x.png</string>
                <key>size</key>
                <string>{1169,250}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0002@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{248,254}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{244,248}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0004@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{12,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{248,254}</string>
                        <key>textureRect</key>
                        <string>{{247,1},{236,248}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0005@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{17,6}</string>
                        <key>spriteSourceSize</key>
                        <string>{248,254}</string>
                        <key>textureRect</key>
                        <string>{{485,1},{220,248}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0003@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{15,5}</string>
                        <key>spriteSourceSize</key>
                        <string>{248,254}</string>
                        <key>textureRect</key>
                        <string>{{707,1},{231,247}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0001@3x.png</string>
                        <key>spriteOffset</key>
                        <string>{18,13}</string>
                        <key>spriteSourceSize</key>
                        <string>{248,254}</string>
                        <key>textureRect</key>
                        <string>{{940,1},{228,241}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>HedgehogAnim_Sheet.1@2x.png</string>
                <key>size</key>
                <string>{785,168}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0002@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{0,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,169}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{163,166}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0005@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{11,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,169}</string>
                        <key>textureRect</key>
                        <string>{{166,1},{147,166}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0004@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{8,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,169}</string>
                        <key>textureRect</key>
                        <string>{{315,1},{157,165}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0003@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{9,3}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,169}</string>
                        <key>textureRect</key>
                        <string>{{474,1},{155,165}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0001@2x.png</string>
                        <key>spriteOffset</key>
                        <string>{11,8}</string>
                        <key>spriteSourceSize</key>
                        <string>{165,169}</string>
                        <key>textureRect</key>
                        <string>{{631,1},{153,161}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
            <dict>
                <key>path</key>
                <string>HedgehogAnim_Sheet.1.png</string>
                <key>size</key>
                <string>{401,86}</string>
                <key>subimages</key>
                <array>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0002.png</string>
                        <key>spriteOffset</key>
                        <string>{0,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{83,85}</string>
                        <key>textureRect</key>
                        <string>{{1,1},{82,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0003.png</string>
                        <key>spriteOffset</key>
                        <string>{5,1}</string>
                        <key>spriteSourceSize</key>
                        <string>{83,85}</string>
                        <key>textureRect</key>
                        <string>{{85,1},{78,84}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0004.png</string>
                        <key>spriteOffset</key>
                        <string>{4,0}</string>
                        <key>spriteSourceSize</key>
                        <string>{83,85}</string>
                        <key>textureRect</key>
                        <string>{{165,1},{79,83}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0005.png</string>
                        <key>spriteOffset</key>
                        <string>{5,2}</string>
                        <key>spriteSourceSize</key>
                        <string>{83,85}</string>
                        <key>textureRect</key>
                        <string>{{246,1},{75,83}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                    <dict>
                        <key>aliases</key>
                        <array/>
                        <key>isFullyOpaque</key>
                        <false/>
                        <key>name</key>
                        <string>Hedgehog_Animation0001.png</string>
                        <key>spriteOffset</key>
                        <string>{6,4}</string>
                        <key>spriteSourceSize</key>
                        <string>{83,85}</string>
                        <key>textureRect</key>
                        <string>{{323,1},{77,81}}</string>
                        <key>textureRotated</key>
                        <false/>
                    </dict>
                </array>
            </dict>
        </array>
        <key>version</key>
        <integer>1</integer>
    </dict>
</plist>
